.mainBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mainBlog .titleBlog {
  margin-top: 100px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 75px;
  line-height: 112px;
  /* identical to box height, or 149% */
  color: #FFFFFF;
}
.mainBlog .post {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  opacity: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.mainBlog .post:last-child {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  opacity: 0;
}
.mainBlog .shownPost {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
  opacity: 1 !important;
}
.mainBlog .post {
  margin-top: 20px;
  margin-bottom: 100px;
  background-color: white;
  max-width: 800px;
  width: 800px;
  height: 380px;
  border: 5px solid #326CF9;
  border-radius: 20px;
}
.mainBlog .post .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  width: 100%;
  border-bottom: 1px dashed grey;
}
.mainBlog .post .author .imgWrapper {
  margin-left: 20px;
  width: 60px;
  height: 60px;
  max-width: 60px;
}
.mainBlog .post .author .imgWrapper img {
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
  max-width: 100%;
  max-height: 100%;
}
.mainBlog .post .author .nameNdate {
  margin-left: 20px;
}
.mainBlog .post .author .nameNdate .name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */
  color: black;
}
.mainBlog .post .author .nameNdate .date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  /* identical to box height, or 150% */
  color: #B4B1B1;
}
.mainBlog .post .titleImgWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 80px);
}
.mainBlog .post .titleImgWrapper img {
  height: 99.5%;
  width: 50%;
  border-bottom-left-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainBlog .post .titleImgWrapper .titleReadMore {
  height: calc(100% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainBlog .post .titleImgWrapper .titleReadMore .title {
  padding: 10px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  /* identical to box height, or 150% */
  color: black;
}
.mainBlog .post .titleImgWrapper .titleReadMore .readmore {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #326CF9;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  border: 2px solid white;
  width: 140px;
  height: 50px;
  border-radius: 10px;
}
.mainBlog .post .titleImgWrapper .titleReadMore .readmore:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #326CF9;
  color: #326CF9;
  background-color: white;
}
.mainBlog .post .hide {
  display: none;
}
.mainBlog .post .text {
  display: none;
}
.mainBlog .opened {
  -webkit-transition: all 1s;
  transition: all 1s;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.mainBlog .opened .titleImgWrapper {
  position: relative;
}
.mainBlog .opened .titleImgWrapper img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom-left-radius: 0px;
}
.mainBlog .opened .titleImgWrapper .titleReadMore .readmore {
  display: none;
}
.mainBlog .opened .titleImgWrapper .titleReadMore .title {
  background-color: rgba(50, 108, 249, 0.4509803922);
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 70%;
}
.mainBlog .opened .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  /* or 150% */
  color: black;
  margin-top: 20px;
  padding: 20px;
  padding-left: 50px;
  display: block;
}
.mainBlog .opened .hide {
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #326CF9;
  color: white;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  border: 2px solid white;
  width: 140px;
  height: 50px;
  border-radius: 10px;
}
.mainBlog .opened .hide:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 2px solid #326CF9;
  color: #326CF9;
  background-color: white;
}