$blueBG: #306EF7;
$blueText: #3C82F4;
$greenText: #0FC65C;
$greyText: #919191;
$lightGreyText: #707070;
$lightBlackBG: #0E0E0E;
$mainBG: black;
$peachGradient: linear-gradient(90deg, #FE6783 1.9%, #FFBF84 97.1%);
